<div class="container-fluid">
  <div class="mt-4 d-flex justify-content-between align-items-center">
    <!-- Button to add a new task -->
    <button
      pButton
      pRipple
      type="button"
      label="Nouvelle tâche"
      icon="pi pi-plus"
      class="p-button-primary"
      [routerLink]="'/gestion-projet/addTache'"
      title="Ajouter une nouvelle tâche"
    ></button>
    <h4 class="section-title">Liste des tâches</h4>
  </div>

  <!-- Table Section -->
  <div class="container-fluid content-table">
    <h2 *ngIf="taches.length === 0" class="text-center text-dispo mt-4">
      Pas de tâches disponibles !
    </h2>

    <!-- Tasks Table -->
    <div *ngIf="taches.length > 0" class="mt-4">
      <table class="styled-table">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Nom</th>
            <th scope="col">Durée estimée (jours)</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <!-- Dynamically generate rows for each task -->
          <tr *ngFor="let tache of taches">
            <th scope="row">{{ tache.id }}</th>
            <td>{{ tache.nom }}</td>
            <td>{{ tache.dureeEstimee }}</td>
           <!-- <td>
              <span class="status-badge" [ngClass]="getStatusClass(tache.status)">
                {{ tache.status | tacheStatus }}
              </span>
            </td> -->
            <td>
              <div class="d-flex justify-content-center gap-2">
                <button
                  pButton
                  pRipple
                  type="button"
                  icon="pi pi-pencil"
                  class="p-button-primary p-button-sm"
                  [routerLink]="['/gestion-projet/editTache', tache.id]"
                  title="Modifier la tâche"
                ></button>
                
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>