<div class="container">
  <div class="mt-4">
    <a
      class="add d-flex"
      routerLink="'/admin/ajoutUser'"
      style="cursor: pointer; text-decoration: none"
    >
      <span class="material-icons">
        {{ "add" }}
      </span>
      <span class="ml-2"> Nouveau </span>
    </a>
    <h4 class="justify-content-center text-center" style="margin-left: 16px">
      Liste des utilisateurs
    </h4>
  </div>
  <!--Filtre des patients-->
  <div class="col-md-12 col-lg-12 col-sm-12" style="margin-top: 40px">
    <form formGroup="searchForm" (ngSubmit)="onSearch()">
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12">
          <div class="row">
            <div class="col-md-4 col-lg-4 col-sm-12">
              <label class="form-label" for="">Filtrer par:</label>
            </div>
            <div class="col-md-8 col-lg-8 col-sm-12">
              <select
                formControlName="filterType"
                class="form-select"
                id="filter"
              >
                <option value="nom">Nom</option>
                <option value="prenom">Prenom</option>
                <option value="cin">CIN</option>
                <!-- <option value="prix">Prix</option>
                        <option value="seuil">Seuil</option> -->
              </select>
              <!--<div *ngIf="shouldShowFilterTypeRequiredError()" class="text-danger">
            Champ obligatoire
          </div>-->
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12">
          <input
            class="form-control"
            id="search"
            formControlName="searchTerm"
            type="text"
            placeholder="Tapez votre recherche...."
          />
          <!--<div *ngIf="shouldShowSearchTermRequiredError()" class="text-danger">
        Champ obligatoire
      </div>-->
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12">
          <button type="submit" class="btn btn-outline-rechercher text-black">
            Rechercher
          </button>
          &nbsp;&nbsp;
          <button type="button" class="btn btn-outline-secondary text-black">
            Annuler
          </button>
        </div>
      </div>
    </form>
  </div>

  <div class="container-fluid content-table">
    <h2
      *ngIf="!utilisateurs || utilisateurs.length <= 0"
      class="text-center mt-4"
    >
      Aucun utilisateur sur la liste
    </h2>
    <div *ngIf="utilisateurs && utilisateurs.length > 0" class="mt-4">
      <table class="table table-hover">
        <thead>
          <tr style="text-align: center">
            <th scope="col">#</th>
            <th scope="col">
              <a
                style="cursor: pointer; text-decoration: none; color: #00a388"
                class="d-flex"
              >
                <span class="material-icons">arrow_circle_up</span>
                <span class="material-icons"> arrow_circle_down </span> Nom &
                Prénom
              </a>
            </th>
            <th scope="col">Téléphone</th>
            <th scope="col">Role</th>
            <th scope="col">Structure</th>
            <th scope="col">Status</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody style="text-align: center">
          <tr *ngFor="let utilisateur of utilisateurs" @fadeSlide>
            <th style="text-align: center" scope="row ">
              {{ utilisateurs.indexOf(utilisateur) + 1 }}
            </th>
            <td>{{ utilisateur?.nom }} {{ utilisateur?.prenom }}</td>
            <td>{{ utilisateur?.telephone }}</td>
            <td>{{ utilisateur?.role?.libelle }}</td>
            <td>
              {{
                utilisateur.structure && utilisateur.structure.nom
                  ? utilisateur.structure.nom
                  : "-"
              }}
            </td>
            <td>Actif</td>
            <td>
              <div
                class="col-6 col-sm-4 col-md-2 d-flex justify-content-between"
              >
                <a class="btn-transparent btn p-2 mr-2">
                  <span class="material-icons-outlined">
                    {{ "create" }}
                  </span>
                </a>

                <a
                  class="btn-transparent btn p-2 mr-2"
                  (click)="onDeleteUser(content, utilisateur)"
                >
                  <span class="material-icons-outlined clear">
                    {{ "clear" }}
                  </span>
                </a>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <ng-template #content let-modal>
        <div class="modal-header">
          <h5 class="modal-title" id="modal-basic-title ">
            Souhaitez-vous supprimer cet utilisateur?
          </h5>
          <button
            type="button "
            class="btn-close"
            aria-label="Close "
            (click)="modal.dismiss('Cross click')"
          ></button>
        </div>
        <div class="modal-body">
          <form formGroup="deleteForm" (ngSubmit)="archiveUser(modal)">
            <div class="mb-3">
              <label for="Motif ">Veillez donner le motif de suppression</label>
              <div class="input-group">
                <textarea
                  name="motif"
                  id="motif "
                  formControlName="motif"
                  cols="30 "
                  rows="10 "
                ></textarea
                ><br />
              </div>
            </div>
            <button
              [disabled]="!deleteForm.valid"
              class="btn btn-outline-secondary bi bi-calendar3"
              type="submit"
              style="background: #00a388; color: white"
            >
              Supprimer
            </button>
          </form>
        </div>
        <div class="modal-footer">
          <!-- <button type="button " class="btn btn-outline-dark " [disabled]="!patientForm.valid ">Save</button> -->
        </div>
      </ng-template>
      <!--Pagination-->
      <div class="card-footer justify-content-between">
        <div class="row">
          <div class="col-lg-3 col-md-3 col-sm-12">
            <nav aria-label="Page navigation example ">
              <ul class="pagination">
                <li class="page-item">
                  <button>Précédent</button>
                </li>
                &nbsp;
                <li class="page-item">
                  <button>Suivant</button>
                </li>
              </ul>
            </nav>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-12">
            <select class="form-select" id="pageSize ">
              <option value="5 ">5</option>
              <option value="10 ">10</option>
              <option value="15 ">15</option>
              <option value="20 ">20</option>
              <option value="50 ">50</option>
              <option value="100 ">100</option>
            </select>
          </div>
        </div>
      </div>
    </div>
    <!---->
  </div>
</div>
