<div class="container-fluid">

  <div class="mt-4">
    <a class="add style-button d-flex" [routerLink]="'/gestion-fournisseur/addFournisseur'">
      <span class="material-icons">
        {{ "add" }}
      </span>
      <span class="ml-2 style-text"> Nouveau Fournisseur</span>
    </a>
    <h4 class="justify-content-left text-left">
      Liste des Fournisseurs
    </h4>
  </div>
<!--TABLES-->
  <div class="container-fluid content-table">
    <h2 class="text-center text-dispo mt-4" *ngIf="!fournisseurs || fournisseurs.length <= 0">
      Pas de Fournisseur Disponible!!!
    </h2>
    <div class="mt-4">
      <table class="table table-hover">
        <thead>
          <tr style="text-align: center" class="style-text-table">
            <th scope="col">ID</th>
            <th scope="col">Nom</th>
            <th scope="col">Adresse</th>
            <th scope="col">Email</th>
            <th scope="col">Solde</th>
            <th scope="col">Total Versé</th>
            <th scope="col">Telephone</th>
            <th scope="col">Type Fournisseur</th>
            <th scope="col">Categorie Fournisseur</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody style="text-align: center">
          <tr *ngFor="let fournisseur of fournisseurs">
            <th style="text-align: center" scope="row">
              {{ fournisseurs.indexOf(fournisseur) + 1 }}
            </th>
            <td>{{ fournisseur.nom}}</td>
            <td>{{ fournisseur.adresse}}</td>
            <td>{{ fournisseur.email}}</td>
            <td>{{ fournisseur.solde}}F</td>
            <td>{{ fournisseur.totalVersement}}F</td>
            <td>{{ fournisseur.telephone}}</td>
            <td>{{ fournisseur.typeFournisseur?.designation}}</td>
            <td>{{ fournisseur.categorieFournisseur?.designation}}</td>
            <td>
              <div class="d-flex">
                <td >
                 <a
                    class="nav-link m-nav-link"
                    (click)="change(fournisseur.id)">
                    <span class="material-icons">mode_edit</span>
                  </a> 
                </td>
                <td style="margin-left: 20px">
                <a
                    class="nav-link m-nav-link"
                    (click)="deleteFournisseur(fournisseur?.id)"
                   >
                    <span class="material-icons">delete</span>
                  </a>  
                </td>
              </div>
            </td>
            <td></td>
          </tr>
        </tbody>
      </table>
      <!--Pagination
      <div class="row mt-4">
        <div class="col-lg-3 col-md-3 col-sm-12">
          <nav aria-label="Page navigation example ">
            <ul class="pagination">
              <li class="page-item">
                <button
                  class="text-bg2"
                  [disabled]="disablePrevious || totalPage === 1"
                  ngClass="
                    disablePrevious || totalPage === 1
                      ? ' page-link'
                      : 'page-link'
                  "
                  (click)="precedent()"
                >
                  Précédent
                </button>
              </li>
              &nbsp;
              <li class="page-item">
                <button
                  class="text-bg"
                  [disabled]="disableNext || totalPage === 1"
                  ngClass="
                    disableNext || totalPage === 1 ? ' page-link' : 'page-link'
                  "
                  (click)="suivant()"
                >
                  Suivant
                </button>
              </li>
            </ul>
          </nav>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-12">
          <select
            class="form-select"
            id="pageSize "
            (change)="onSelectedPageSize($event)"
          >
            <option value="1 ">1</option>
            <option value="5 ">5</option>
            <option value="10 ">10</option>
            <option value="15 ">15</option>
            <option value="20 ">20</option>
            <option value="50 ">50</option>
            <option value="100 ">100</option>
          </select>
        </div>
      </div>
      -->
    </div>
  </div>

</div>