<div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
  data-sidebar-position="fixed" data-header-position="fixed">
   
  <div class="body-wrapper">
    <header class="app-header"></header>

    <div class="container-fluid p-4">
      <!-- Bouton retour -->
       <div class="mb-4">
          <a class="btn d-flex align-items-center" [routerLink]="'/gestion-fournisseur/listFournisseur'"
          style="background-color: #2D3D5E; color: white; border-radius: 50px; padding: 8px 16px;">
            <span class="material-icons"> arrow_back_ios_new </span>
            <span class="ml-2"><b>Retour à la Liste</b></span>
          </a>
       </div>

      <!-- Formulaire -->
      <div class="card shadow-sm border-0 rounded-4">
       
        <div class="card-body p-4">
          <h3 class="fw-bold mb-4" style="color: #2D3D5E;"> Nouveau Fournisseur</h3>
          <form [formGroup]="fourniFrom" (ngSubmit)="addFournisseur()">
                  <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Nom</label>
                    <input type="text" class="form-control" placeholder="Entrer Nom " name="nom"
                      formControlName="nom" />
                    <div *ngIf="validNom()" class="text-danger">
                      veuillez remplir ce champ
                    </div>
                  </div>

                  <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Email</label>
                    <input type="email" class="form-control" placeholder="Entrer L'email " name="email"
                      formControlName="email" />
                    <div *ngIf="validEmail()" class="text-danger">
                      veuillez remplir ce champ
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Adresse</label>
                        <input type="text" class="form-control" placeholder="Entrer Adresse " name="adresse"
                          formControlName="adresse" />
                        <div *ngIf="validAdresse()" class="text-danger">
                          veuillez remplir ce champ
                        </div>
                      </div>

                    </div>
                    <div class="col-md-6">
                      <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Téléphone</label>
                        <input type="text" class="form-control" placeholder="Entrer Telephone " name="telephone"
                          formControlName="telephone" />

                      </div>

                    </div>

                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Solde</label>
                        <input type="text" class="form-control" placeholder="Entrer Solde " name="solde"
                          formControlName="solde" />
                        <div *ngIf="validSolde()" class="text-danger">
                          veuillez remplir ce champ
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Total Versement</label>
                        <input type="text" class="form-control" placeholder="Entrer Total Versement "
                          name="totalVersement" formControlName="totalVersement" />

                      </div>
                    </div>


                  </div>

                  <div class="mb-3" *ngIf="typesFournisseurs.length > 0">
                    <label for="typeFournisseurId" class="form-label">Type de fournisseur</label>
                    <select class="form-select" formControlName="typeFournisseurId" required>
                      <option value="" disabled selected>Choisir un type de fournisseur</option>
                      <option *ngFor="let typeFour of typesFournisseurs" [value]="typeFour.id">{{ typeFour.designation
                        }}</option>
                    </select>
                  </div>

                

                  <div class="d-flex justify-content-center">
                    <input type="submit" class="btn btn-outline-secondary" [disabled]="!fourniFrom.valid" value="Enregistrer" />
                  </div>
          </form>
            
        </div>
     

      </div>

    </div>
  </div>
</div>
