<div class="container-fluid">

  <div class="mt-4">
    <a class="add style-button d-flex" [routerLink]="'/gestion-article/addArticle'">
      <span class="material-icons">
        {{ "add" }}
      </span>
      <span class="ml-2 style-text"> Nouvel Article</span>
    </a>
    <h4 class="justify-content-left text-left">
      Articles
    </h4>
  </div>

  <div class="container mt-4">
    <h2 class="text-center mt-4 text-dispo" *ngIf="!articles || articles.length <= 0">
      Pas de d'article Disponible!!!
    </h2>
 
    <div class="container">
      <div class="row g-4">
        <div class="col-md-6" *ngFor="let article of articles">
          <div class="card shadow-lg rounded">
            <div class="row g-0">
              
              <!-- IMAGE -->
              <div class="col-md-5 d-flex align-items-center">
                <img
                  src="https://pixabay.com/get/gddb9aa87a3918c63a185cd162c5cd9d5a56f5f9618fdf2c0d7ac5a8bf8be4cf13fbf53ab6e129ef5c034e058a0e9f2fc_1280.jpg"
                  alt="Image de l'article"
                  class="img-fluid rounded-start"
                  style="height: 100%; width: 100%; object-fit: cover;"
                />
              </div>
    
              <!-- CONTENU -->
              <div class="col-md-7">
                <div class="card-body">
                  
                  <!-- TITRE -->
                  <h4 class="card-title "> 
                    <i class="fas fa-box-open"></i> <b>Désignation:</b> {{ article.designation }}
                  </h4>
    
                  <!-- QUANTITÉ -->
                  <p class="mb-1">
                    <i class="fas fa-cubes text-warning"></i> <b>Quantité:</b> {{ article.quantity }}
                  </p>
    
                  <!-- STATUT AVEC COULEUR DYNAMIQUE -->
                  <span 
                    class="badge bg-success" >
                    
                   {{ article.status }}
                  </span>
    
                  <hr />
    
                  <!-- BOUTONS D'ACTION -->
                  <div class="d-flex justify-content-end">
                    <button class="btn btn-outline-primary btn-sm me-2">
                      <i class="material-icons material"></i> Modifier
                    </button>
                    
                  </div>
    
                </div>
              </div>
    
            </div>
          </div>
        </div>
      </div>
    </div>
    
    

   
    
  </div>

</div>



  