<div class="container-fluid mt-4">

  <div class="d-flex justify-content-between align-items-center mb-4 mt-4">
    <h4 class="fw-bold" style="color: #2D3D5E;">Projets</h4>
    <a *appHasAnyAuthority="['SUPER_ADMIN','S','CP','ADMIN']" class="btn rounded-pill d-flex align-items-center"
      style="background-color: #996F05; color: white;" [routerLink]="'/gestion-projet/addProjet'">
      <span class="material-icons me-2">add_circle_outline</span> Nouveau projet
    </a>
  </div>





  <!-- Table Section -->
  <div class="container-fluid content-table">
    <!-- Conditional message when no projects are available -->
    <h2 *ngIf="projets.length === 0" class="text-center text-dispo mt-4">
      Pas de projets disponibles !!!
    </h2>

    <!-- Projects Cards -->
    <section id="projects" class="pb-5 mt-4">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-4 mb-4" *ngFor="let projet of projets">
            <div class="project-card">
              <div class="card-header text-center ">
                <span class="id-title"><b>#ID{{ projet.id }}</b></span>
              </div>
              <div class="card-body">
                <h4 class="card-title">{{ projet.name }}</h4>
                <p class="card-description">{{ projet.description }}</p>
               <div class="row">
                <div class="card-actions col-md-6">
                  <a class="btn btn-outline-primary btn-sm" [routerLink]="['/gestion-projet/detailProjet', projet.id]"
                    title="Détails du projet">
                    <span class="material-icons">info</span>
                  </a>
                </div>

                <div class="card-actions d-flex col-md-6  " *ngIf="projet.status === 'VALIDATED'">
                  <div *ngIf="devisExistant[projet.id]" >
                    <a class="btn btn-outline-primary btn-sm" [routerLink]="[
                      '/gestion-projet/visualiserDevis',
                      projet.id
                    ]" title="Visualiser le devis">
                      <span class="material-icons">visibility</span>
                    </a>
                  </div>
                  <div *ngIf="!devisExistant[projet.id]" >
                    <a *appHasAnyAuthority="['SUPER_ADMIN','S','CP','ADMIN']" class="btn btn-outline-primary btn-sm"
                      [routerLink]="['/gestion-projet/genererDevis', projet.id]" title="Générer le devis">
                      <span class="material-icons">description</span>
                    </a>
                  </div>

                </div>

               </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>