#Adel-dialog-tab .nav-link {
  display: block;
  padding: 0.5rem 1rem;
  color: red;
  text-decoration: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

#Adel-dialog-tab .nav-link.active {
  border-radius: 8px !important;
  background: rgba(red, 0.65);
  font-weight: 700;
  padding: .5rem 1rem !important;
}

