<div class="container-fluid">
  <div class="mt-4">
    <!-- Button to add a new project -->
    <h4 class="justify-content-left text-left">Liste des devis</h4>
  </div>

  <!-- Table Section -->
  <div class="container-fluid content-table">
    <!-- Conditional message when no projects are available -->
    <h2 *ngIf="devisList.length === 0" class="text-center text-dispo mt-4">
      Pas de devis Disponible!!!
    </h2>

    <!-- Projects Table -->
    <div *ngIf="devisList.length > 0" class="mt-4">
      <table class="table table-hover">
        <thead>
          <tr style="text-align: center" class="style-text-table">
            <th scope="col">ID</th>
            <th scope="col">Date de creation</th>
            <th scope="col">Status</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody style="text-align: center">
          <!-- Dynamically generate rows for each project -->
          <tr *ngFor="let devis of devisList">
            <th scope="row">{{ devis.id }}</th>
            <td>{{ devis.dateCreation | date : "dd-MM-yyyy" }}</td>
            <td>{{ devis.statut}}</td>
            <td>
                <div class="d-flex justify-content-center">
                    <!-- Affiche l'icône uniquement si le statut est VALIDER -->
                    <ng-container *ngIf="devis.statut === 'VALIDER'">
                    <button
                        class="btn btn-success"
                        [routerLink]="['/gestion-projet/genererPlanning', devis.id]"
                        title="Générer Planning"
                    >
                        <i class="fas fa-calendar-alt"></i> Générer Planning
                    </button>
                    </ng-container>
                </div>
            </td>
          </tr>
        </tbody>
      </table>

      <!-- Pagination 
      <div class="row mt-4">
        <div class="col-lg-3 col-md-3 col-sm-12">
          <nav aria-label="Page navigation example">
            <ul class="pagination">
              <!-- Previous Button
              <li class="page-item">
                <button
                  class="text-bg2"
                  [disabled]="disablePrevious || totalPage === 1"
                  [ngClass]="
                    disablePrevious || totalPage === 1
                      ? 'page-link disabled'
                      : 'page-link'
                  "
                  (click)="precedent()"
                >
                  Précédent
                </button>
              </li>
              &nbsp;
              <!-- Next Button 
              <li class="page-item">
                <button
                  class="text-bg"
                  [disabled]="disableNext || totalPage === 1"
                  [ngClass]="
                    disableNext || totalPage === 1
                      ? 'page-link disabled'
                      : 'page-link'
                  "
                  (click)="suivant()"
                >
                  Suivant
                </button>
              </li>
            </ul>
          </nav>
        </div>
        <!-- Page Size Selector 
        <div class="col-lg-2 col-md-2 col-sm-12">
          <select
            class="form-select"
            id="pageSize"
            (change)="onSelectedPageSize($event)"
          >
            <option value="1">1</option>
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="15">15</option>
            <option value="20">20</option>
            <option value="50">50</option>
            <option value="100">100</option>
          </select>
        </div>
      </div> -->
    </div>
  </div>
</div>
