<div class="container-fluid">
    <div class="mt-4">
      <a class="add style-button d-flex" [routerLink]="'/gestion-article/listArticle'">
        <span class="material-icons">
          {{ "add" }}
        </span>
        <span class="ml-2 style-text"> Nouvelle commande</span>
      </a>
      <h4 class="justify-content-left text-left">
        Commandes
      </h4>
    </div>
  
    <!--TABLES-->
    <div class="container-fluid content-table">
        <h2 class="text-center mt-4 text-dispo" *ngIf="commandes.length === 0">
            Aucune commande disponible !
          </h2>
          
      <div class="mt-4">
        <table class="table table-hover">
          <thead>
            <tr style="text-align: center" class="style-text-table">
              <th scope="col">ID</th>
              <th scope="col">Numero Commande</th>
              <th scope="col">Date</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody style="text-align: center">
           <!-- <tr style="text-align: center" scope="row" *ngFor="let commande of commandes">
                <th scope="row">{{ commande.id }}</th>
                <td>{{ commande.numero }}</td>
                <td>{{ commande.date | date }}</td>
                <td>
              <td>
                <div class="d-flex">
                  <td style="margin-left: 180px">
                    <a class="nav-link m-nav-link">
                      <span class="material-icons material">mode_edit</span>
                    </a>
                  </td>
                  
                </div>
            </td>
            <td></td>
          </tr>-->
        </tbody>
      </table>
      <!--Pagination
        <div class="row mt-4">
          <div class="col-lg-3 col-md-3 col-sm-12">
            <nav aria-label="Page navigation example ">
              <ul class="pagination">
                <li class="page-item">
                  <button
                    class="text-bg2"
                    [disabled]="disablePrevious || totalPage === 1"
                    ngClass="
                      disablePrevious || totalPage === 1
                        ? ' page-link'
                        : 'page-link'
                    "
                    (click)="precedent()"
                  >
                    Précédent
                  </button>
                </li>
                &nbsp;
                <li class="page-item">
                  <button
                    class="text-bg"
                    [disabled]="disableNext || totalPage === 1"
                    ngClass="
                      disableNext || totalPage === 1 ? ' page-link' : 'page-link'
                    "
                    (click)="suivant()"
                  >
                    Suivant
                  </button>
                </li>
              </ul>
            </nav>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-12">
            <select
              class="form-select"
              id="pageSize "
              (change)="onSelectedPageSize($event)"
            >
              <option value="1 ">1</option>
              <option value="5 ">5</option>
              <option value="10 ">10</option>
              <option value="15 ">15</option>
              <option value="20 ">20</option>
              <option value="50 ">50</option>
              <option value="100 ">100</option>
            </select>
          </div>
        </div>-->
      <!---->
    </div>
  </div>
  </div>