<div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
    data-sidebar-position="fixed" data-header-position="fixed">
    <!-- Sidebar Start -->
    <aside class="left-sidebar">
        <!-- Sidebar scroll-->
       
    </aside>
    <div class="body-wrapper">
        <header class="app-header"></header>

        <div class="container">
            <a class="return d-flex mt-4" [routerLink]="'/gestion-article/listArticle'">
                <span class="material-icons"> arrow_back_ios_new </span>
                <span class="ml-2"><b>Liste des Articles</b></span>
            </a>
            <div class="mt-4">
                <div class="card-body">
                    <div class="card">
                        <div class="card-body">
                            <form [formGroup]="articleForm" (ngSubmit)="addArticle()">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="mb-3">
                                            <label for="exampleInputEmail1" class="form-label">Désignation</label>
                                            <input type="text" class="form-control" placeholder="Entrer la désignation "
                                                name="designation" formControlName="designation" />
                                            <div *ngIf="validDesignation()" class="text-danger"> Veuillez renseigner le designation</div> 
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="mb-3">
                                            <label for="exampleInputEmail1" class="form-label">Description</label>
                                            <input type="text" class="form-control" placeholder="Entrer la description "
                                                name="description" formControlName="description" />
                                            <div *ngIf="validDescription()" class="text-danger"> Veuillez renseigner la description</div>
                                               
                                        </div>

                                    </div>
                                </div>
                               

                               
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Quantité Seuil</label>
                                            <input type="number" formControlName="quantiteSeuil" class="form-control" />
                                            <div *ngIf="articleForm.get('quantiteSeuil')?.touched && articleForm.get('quantiteSeuil')?.hasError('required')">
                                              <small class="text-danger">La quantité seuil est requise si la quantité est inférieure à 2.</small>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-md-6">
                                        <div class="mb-3">
                                            <label for="exampleInputEmail1" class="form-label">Poids</label>
                                            <input type="number" class="form-control" placeholder="Entrer le poids "
                                                name="poids" formControlName="poids" />
                                                <div *ngIf="validPoids()" class="text-danger"> Veuillez renseigner le poids</div>


                                        </div>

                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="mb-3">
                                            <label for="exampleInputEmail1" class="form-label">Prix du Devis</label>
                                            <input type="number" class="form-control"
                                                placeholder="Entrer le prix du devis " name="prixDevis"
                                                formControlName="prixDevis" />
                                                <div *ngIf="validPrixDevis()" class="text-danger"> Veuillez renseigner le prix du Devis</div>

                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="mb-3">
                                            <label for="exampleInputEmail1" class="form-label">Prix Reel</label>
                                            <input type="number" class="form-control" placeholder="Entrer le prix reel "
                                                name="prixReel" formControlName="prixReel" />
                                                <div *ngIf="validPrixReel()" class="text-danger"> Veuillez renseigner le prix reel</div>


                                        </div>
                                    </div>



                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="mb-3">
                                            <label for="exampleInputEmail1" class="form-label">Prix d'Achat
                                                Unitaire</label>
                                            <input type="number" class="form-control"
                                            placeholder="Entrer le prix d'achat unitaire" name="prixAchatUnitaire"
                                            formControlName="prixAchatUnitaire" />
                                            <div *ngIf="validPrixAchatUnitaire()" class="text-danger"> Veuillez renseigner le prix d'achat unitaire</div>

                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="mb-3">
                                            <label for="exampleInputEmail1" class="form-label">Prix de Reviens
                                                Unitaire</label>
                                            <input type="number" class="form-control"
                                            placeholder="Entrer le prix de reviens unitaire "
                                            name="prixReviensUnitaire" formControlName="prixReviensUnitaire" />
                                            <div *ngIf="validPrixReviens()" class="text-danger"> Veuillez renseigner le prix de reviens</div>


                                        </div>
                                    </div>


                                </div>
                                <div class="row">

                                    <div class="col-md-6">
                                        <div class="mb-3">
                                            <label for="exampleInputEmail1" class="form-label">Quantité</label>
                                            <input type="number" class="form-control" placeholder="Entrer la quantité "
                                            name="quantity" formControlName="quantity" />
                                            <div *ngIf="validQuantite()" class="text-danger"> Veuillez renseigner la quantité</div>


                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="mb-3">
                                            <label for="exampleInputEmail1" class="form-label">Prix de Vente
                                                Unitaire</label>
                                            <input type="number" class="form-control"
                                            placeholder="Entrer le prix de vente unitaire " name="prixVenteUnitaire"
                                            formControlName="prixVenteUnitaire" />
                                            <div *ngIf="validPrixVente()" class="text-danger"> Veuillez renseigner le prix de vente</div>


                                        </div>
                                    </div>

                                </div>
                                
                                <div class="mb-3" *ngIf="zoneStocks.length > 0">
                                    <label class="form-label">Zone de Stock</label>
                                    <select class="form-select" formControlName="zoneStock">
                                        <option value="" disabled selected>Choisir une zone de stock</option>
                                        <option *ngFor="let zone of zoneStocks" [ngValue]="zone">{{ zone.designation }}
                                        </option>
                                    </select>
                                </div>

                               <div class="row md-4">
                                <div class="col-md-6">
                                    <div class="mb-3" *ngIf="uniteMesures.length > 0">
                                        <label class="form-label">Unité de Mesure</label>
                                        <select class="form-select" formControlName="uniteMesure">
                                            <option value="" disabled selected>Choisir une unité de mesure</option>
                                            <option *ngFor="let unite of uniteMesures" [ngValue]="unite">{{ unite.abreviation }}</option>
                                        </select>
                                    </div>
    
                                    </div>
                                    <div class="col-md-6">
                                        <div class="mb-3" *ngIf="typeArticles">
                                        <label class="form-label">Type d'Article</label>
                                        <select class="form-select" formControlName="typeArticle">
                                            <option value="" disabled selected>Choisir un type d'Article</option>
                                            <option *ngFor="let type of typeArticles" [ngValue]="type">{{ type.designation }}</option>
                                        </select>
                                        </div>
                                    </div>
                                  
                                </div>

                                <div class="mb-3" *ngIf="fournisseurs.length > 0">
                                    <label class="form-label">Fournisseurs</label>
                                    <select class="form-select" formControlName="fournisseur">
                                        <option value="" disabled selected>Choisir un fournisseur</option>
                                        <option *ngFor="let fournisseur of fournisseurs" [ngValue]="fournisseurs">{{ fournisseur.nom }}</option>
                                    </select>
                                </div>

                                <!-- <div class="mb-3">
                                    <label for="typeFournisseurId" class="form-label">Unité de mesure</label>
                                    <select class="form-select" formControlName="" required>
                                        <option value="" disabled selected>Choisir une unité de mesure</option>
                                    </select>

                                </div>

                                <div class="mb-3">
                                    <label for="categorieFournisseurId" class="form-label">Zone de Stock</label>
                                    <select class="form-select" formControlName="" required>
                                        <option value="" disabled selected>Choisir une zone de Stock</option>
                                        <option></option>
                                    </select>
                                </div>-->

                                <div class="d-flex justify-content-center">

                                    <input type="submit" class="btn btn-outline-secondary" [disabled]="!articleForm.valid"
                                        value="Enregistrer" />
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>