<div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
    data-sidebar-position="fixed" data-header-position="fixed">
    <!-- Sidebar Start -->
    <aside class="left-sidebar">
        <!-- Sidebar scroll-->
        <div class="brand-logo d-flex align-items-center justify-content-between">
            <a href="./index.html" class="text-nowrap logo-img">
                <img src="../assets/images/logos/dark-logo.svg" width="180" alt="" />
            </a>
        </div>
    </aside>
    <div class="body-wrapper">
        <header class="app-header"></header>

        <div class="container">
            <a class="return d-flex mt-4" [routerLink]="'/gestion-article/listArticle'">
                <span class="material-icons"> arrow_back_ios_new </span>
                <span class="ml-2"><b>Liste des Articles</b></span>
            </a>
            <div class="mt-4">
                <div class="card-body">
                    <div class="card">
                        <div class="card-body">
                            <form>
                                <div class="mb-3">
                                    <label for="exampleInputEmail1" class="form-label">Désignation</label>
                                    <input type="text" class="form-control" placeholder="Entrer la désignation "
                                        name="designation" formControlName="designation" />
                                    <div class="text-danger">
                                        veuillez remplir ce champ
                                    </div>
                                </div>

                                <div class="mb-3">
                                    <label for="exampleInputEmail1" class="form-label">Description</label>
                                    <input type="text" class="form-control" placeholder="Entrer la description "
                                        name="description" formControlName="description" />
                                    <div class="text-danger">
                                        veuillez remplir ce champ
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="mb-3">
                                            <label for="exampleInputEmail1" class="form-label">Code</label>
                                            <input type="text" class="form-control" placeholder="Entrer Adresse "
                                                name="code" formControlName="code" />
                                            <div class="text-danger">
                                                veuillez remplir ce champ
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-md-6">
                                        <div class="mb-3">
                                            <label for="exampleInputEmail1" class="form-label">Poids</label>
                                            <input type="text" class="form-control" placeholder="Entrer le poids "
                                                name="poids" formControlName="poids" />

                                        </div>

                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="mb-3">
                                            <label for="exampleInputEmail1" class="form-label">Prix du Devis</label>
                                            <input type="text" class="form-control"
                                                placeholder="Entrer le prix du devis " name="prixDevis"
                                                formControlName="prixDevis" />
                                            <div class="text-danger">
                                                veuillez remplir ce champ
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="mb-3">
                                            <label for="exampleInputEmail1" class="form-label">Prix Reel </label>
                                            <input type="text" class="form-control" placeholder="Entrer le prix reel "
                                                name="prixReel" formControlName="prixReel" />

                                        </div>
                                    </div>


                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="mb-3">
                                            <label for="exampleInputEmail1" class="form-label">Prix d'Achat
                                                Unitaire</label>
                                            <input type="text" class="form-control"
                                                placeholder="Entrer le prix d'achat unitaire" name="prixAchatUnitaire"
                                                formControlName="prixAchatUnitaire" />
                                            <div class="text-danger">
                                                veuillez remplir ce champ
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="mb-3">
                                            <label for="exampleInputEmail1" class="form-label">Prix de Reviens
                                                Unitaire</label>
                                            <input type="text" class="form-control"
                                                placeholder="Entrer le prix de reviens unitaire "
                                                name="prixReviensUnitaire" formControlName="prixReviensUnitaire" />

                                        </div>
                                    </div>


                                </div>
                                <div class="row">

                                    <div class="col-md-6">
                                        <div class="mb-3">
                                            <label for="exampleInputEmail1" class="form-label">Quantité</label>
                                            <input type="text" class="form-control" placeholder="Entrer la quantité "
                                                name="quantity" formControlName="quantity" />

                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="mb-3">
                                            <label for="exampleInputEmail1" class="form-label">Prix de Vente Unitaire</label>
                                            <input type="text" class="form-control"
                                                placeholder="Entrer le prix de vente unitaire " name="prixVenteUnitaire"
                                                formControlName="prixVenteUnitaire" />

                                        </div>
                                    </div>

                                </div>



                                <div class="mb-3">
                                    <label for="typeFournisseurId" class="form-label">Unité de mesure</label>
                                    <select class="form-select" formControlName="uniteMesureId" required>
                                        <option value="" disabled selected>Choisir une unité de mesure</option>
                                        <option> </option>
                                    </select>
                                </div>

                                <div class="mb-3">
                                    <label for="categorieFournisseurId" class="form-label">Zone de Stock</label>
                                    <select class="form-select" formControlName="zoneStockId" required>
                                        <option value="" disabled selected>Choisir une zone de Stock</option>
                                        <option></option>
                                    </select>
                                </div>

                                <div class="d-flex justify-content-center">

                                    <input type="submit"  class="btn btn-outline-secondary" [disabled]="" value="Enregistrer" />

                                  
                                </div>
                                
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>