<div
  class="page-wrapper"
  id="main-wrapper"
  data-layout="vertical"
  data-navbarbg="skin6"
  data-sidebartype="full"
  data-sidebar-position="fixed"
  data-header-position="fixed"
>


  <div class="body-wrapper">
    <header class="app-header"></header>

    <div class="container-fluid mt-4">

       <!-- Bouton retour -->
       <div class="mb-4 mt-4">
        <a class="btn d-flex align-items-center" [routerLink]="'/gestion-projet/listTache'"
          style="background-color: #2D3D5E; color: white; border-radius: 50px; padding: 8px 16px;">
          <span class="material-icons">arrow_back_ios_new</span>
          <span class="ms-2"><b>Retour à la Liste</b></span>
        </a>
      </div>

      <div class="card shadow-sm border-0 rounded-4">
        
        <div class="card-body mt-4">
          <h3 class="fw-bold mb-4" style="color: #2D3D5E;"> Nouvelle tâche</h3>
          
          <div class="card">
            <div class="card-body">
              <form [formGroup]="tacheForm">
                <div class="mb-3">
                  <label for="nom" class="form-label">Nom de la tâche</label>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Entrer le nom du projet"
                    formControlName="nom"
                  />
                  <!-- <<div *ngIf="projectForm.get('name').invalid && projectForm.get('name').touched" class="text-danger">
                      Veuillez remplir ce champ
                    </div> -->
                </div>

                <div class="mb-3">
                  <label for="description" class="form-label"
                    >Description</label
                  >
                  <input
                    type="textarea"
                    class="form-control"
                    placeholder="Entrer la description"
                    formControlName="description"
                  />
                  <!-- <div *ngIf="projectForm.get('description').invalid && projectForm.get('description').touched" class="text-danger">
                      Veuillez remplir ce champ
                    </div> -->
                </div>

                <div class="mb-3">
                  <label for="startDate" class="form-label"
                    >Durée estimée (en jours)</label
                  >
                  <input
                    type="number"
                    placeholder="Entrer la durée estimée (en jours)"
                    class="form-control"
                    formControlName="dureeEstimee"
                  />
                  <!-- <div *ngIf="projectForm.get('startDate').invalid && projectForm.get('startDate').touched" class="text-danger">
                      Veuillez remplir ce champ
                    </div> -->
                </div>

                <div class="bt-boutton d-flex justify-content-center">
                  <button
                    (click)="confirmCreateProject()"
                    [disabled]="!tacheForm.valid"
                    class="btn btn-outline-secondary">
                    Enregistrer
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<p-confirmDialog
  [style]="{ width: '50vw', backgroundColor: 'black', color: 'white' }"
  icon="pi pi-check-circle"
  [baseZIndex]="10000"
>
</p-confirmDialog>

